{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm8 offset-sm-2">

                <h1>Page Accueil avec Symfony !</h1>

            </div>
        </div>
    </div>
{% endblock %}
